{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "requirePragma": true,
  "insertPragma": true,
  "endOfLine": "lf",
  "jsxBracketSameLine": false
}
